################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp1/obj/Debug/net6.0
.vs/BlazorApp1/DesignTimeBuild/.dtbcache.v2
.vs/BlazorApp1/v17/.futdcache.v1
.vs/BlazorApp1/v17/.suo
