<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="boostrap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Boostrap
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="accordion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Accordions
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkboxes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Checkboxes
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="radioboxes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Radioboxes
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-playground">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Play Ground
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
